/* static/cssfiles/login.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff; /* Fond de la page */
}

form {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff; /* Fond du formulaire */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
    color: #333; /* Couleur du titre */
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    background-color: #f8f9fa; /* Fond des champs */
    border-color: #ced4da; /* Bordure des champs */
}

.btn-primary {
    background-color: #007bff; /* Couleur du bouton */
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9; /* Couleur au survol du bouton */
    border-color: #0062cc;
}

.form-text {
    color: #6c757d; /* Couleur du texte d'information */
}
