{% extends 'base.html' %}
{% block content %}

<!-- Alerts -->
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
            <strong>{{ message|escape }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
<!-- /Alerts -->
<!-- Main Content -->
<div class="container">
    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Add operation</h3>
                <form method="POST" action="{% url 'employe:add_operation' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="client-id">client ID</label>
                            <input type="text" class="form-control" placeholder="client ID" id="client-id" name="client_id">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="operation">Operation</label>
                            <select class="form-control" id="operation" name="operation">
                                <option value="Demande de visa">Demande de visa</option>
                                <option value="Demande de relevé">Demande de relevé</option>
                                <option value="Demande de certification">Demande de certification</option>
                            </select>
                        </div>
                        
                        <div class="form-group col-md-6">
                            <label for="operation-date">Operation Date</label>
                            <input type="date" placeholder="operation Date" class="form-control" id="operation-date" name="operation_date">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="piece-jointe">Piece Jointe</label>
                            <input type="file" class="form-control" id="piece-jointe" name="piece_jointe">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="observation">Observation</label>
                            <textarea placeholder="observation" class="form-control" id="observation" rows="3" name="observation"></textarea>
                        </div>
                                                            
                        <div class="form-check col-md-12 mb-2">
                            <div class="text-left">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="ex-check-2" name="confirmed">
                                    <label class="custom-control-label" for="ex-check-2">Please Confirm</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <!-- /Widget Item -->
    </div>
</div>



<!-- /Main Content -->
{% endblock %}