{% extends 'base.html' %}
{% block content %}

<!-- Alerts -->
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
            <strong>{{ message|escape }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
<!-- /Alerts -->
<!-- Page Title -->
<div class="container mt-0">
    <div class="row breadcrumb-bar">
        <div class="col-md-6">
            <h3 class="block-title">Ajouter un contact</h3>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'employe:base' %}">
                        <span class="ti-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">contacts</li>
                <li class="breadcrumb-item active">ajouter contact</li>
            </ol>
        </div>
    </div>
</div>
<!-- /Page Title -->

<!-- /Breadcrumb -->
<!-- Main Content -->
<div class="container">

<div class="row">
    <!-- Widget Item -->
    <div class="col-md-12">
        <div class="widget-area-2 proclinic-box-shadow">
            <h3 class="widget-title">Ajouter contact</h3>
            <form method="POST" action="{% url 'employe:add_client' %}">

                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="client-id">Contact CIN</label>
                        <input type="text" class="form-control" placeholder="Client ID" id="client-id" name="client_id" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="client-name">NOM du Contact</label>
                        <input type="text" class="form-control" placeholder="Client Name" id="client-name" name="client_name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dob">Date de naissance</label>
                        <input type="date" placeholder="Date of Birth" class="form-control" id="dob" name="client_birth" required>
                    </div>
                   
                    <div class="form-group col-md-6">
                        <label for="phone">Num. T</label>
                        <input type="text" placeholder="Phone" class="form-control" id="phone" name="client_phone" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input type="email" placeholder="Email" class="form-control" id="Email" name="client_email" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender" name="client_gender" required>
                            <option value="">Choisir Sexe</option>
                            <option value="Male">Homme</option>
                            <option value="Female">Femme</option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="address">Addresse</label>
                        <textarea placeholder="Address" class="form-control" id="address" rows="3" name="client_Address" required></textarea>
                    </div>
                    
                                                        
                    <div class="form-check col-md-12 mb-2">
                        <div class="text-left">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" id="ex-check-2" required>
                                <label class="custom-control-label" for="ex-check-2">Veuillez comfimer</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 mb-3">
                        <button type="submit" class="btn btn-primary btn-lg">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /Widget Item -->
</div>
</div>
<!-- /Main Content -->

{% endblock %}
