{% extends 'base.html' %}
{% block content %}

<!-- Page Title -->
<div class="container mt-0">
    <div class="row breadcrumb-bar">
        <div class="col-md-6">
            <h3 class="block-title">Supprimer des opérations</h3>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'employe:base' %}">
                        <span class="ti-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">Opérations</li>
                <li class="breadcrumb-item active">Supprimer des opérations</li>
            </ol>
        </div>
    </div>
</div>
<!-- /Page Title -->
 <!-- Alerts -->
{% if messages %}
{% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
        <strong>{{ message|escape }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
{% endfor %}
{% endif %}
<!-- /Alerts -->

<!-- Search Form -->
<div class="container">
    <form method="get" action="{% url 'employe:delete_operations' %}">
        <div class="form-group">
            <label for="query">Recherche par CIN:</label>
            <input type="text" name="query" id="query" class="form-control" placeholder="Entrez CIN du client" value="{{ request.GET.query }}">
        </div>
        <button type="submit" class="btn btn-primary">Recherche</button>
    </form>
</div>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Liste d'Opérations</h3>
                <div class="table-responsive mb-3">
                    <table id="tableId" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>CIN du Contact</th>
                                <th>Opération</th>
                                <th>Date d'Opération</th>
                                <th>Observation</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for operation in operations %}
                            <tr>
                                <td>{{ operation.client_id }}</td>
                                <td>{{ operation.operation }}</td>
                                <td>{{ operation.operation_date }}</td>
                                <td>{{ operation.observation }}</td>
                                <td>
                                    <form method="post" action="{% url 'employe:delete_operations' %}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette opération?');">
                                        {% csrf_token %}
                                        <input type="hidden" name="operation_id" value="{{ operation.id }}">
                                        <button type="submit" class="btn btn-primary">Supprimer</button>
                                    </form>
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Widget Item -->
    </div>
</div>
<!-- /Main Content -->

{% endblock %}

