{% extends 'base.html' %}
{% block content %}
<!-- Page Title -->
<div class="container mt-0">
    <div class="row breadcrumb-bar">
        <div class="col-md-6">
            <h3 class="block-title">Editer une operation</h3>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'employe:base' %}">
                        <span class="ti-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">Operations</li>
                <li class="breadcrumb-item active">Editer une operation</li>
            </ol>
        </div>
    </div>
</div>
<!-- /Page Title -->
<!-- Alerts -->
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
            <strong>{{ message|escape }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
<!-- /Alerts -->

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Editer l'operation</h3>
                <form method="POST" action="{% url 'employe:edit_operation' operation.id %}" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="client-id">CIN du client </label>
                            <input type="text" class="form-control" placeholder="CIN" id="client-id" name="client_id" value="{{ operation.client_id }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="operation">Operation</label>
                            <select class="form-control" id="operation" name="operation">
                                <option value="Demande de visa" {% if operation.operation == "Demande de visa" %}selected{% endif %}>Demande de visa</option>
                                <option value="Demande de relevé" {% if operation.operation == "Demande de relevé" %}selected{% endif %}>Demande de relevé</option>
                                <option value="Demande de certification" {% if operation.operation == "Demande de certification" %}selected{% endif %}>Demande de certification</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="piece-jointe">Piece Jointe</label>
                            <input type="file" class="form-control" id="piece-jointe" name="piece_jointe">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="observation">Observation</label>
                            <textarea placeholder="observation" class="form-control" id="observation" rows="3" name="observation">{{ operation.observation }}</textarea>
                        </div>
                        <div class="form-check col-md-12 mb-2">
                            <div class="text-left">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="ex-check-2" required>
                                    <label class="custom-control-label" for="ex-check-2">Veuillez comfirmer</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <button type="submit" class="btn btn-primary btn-lg">Editer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        <!-- /Edit Form -->
    </div>
</div>
<!-- /Main Content -->

<!-- JavaScript to validate the checkbox -->

{% endblock %}