<!-- operation_detail.html -->
<div class="widget-area-2 proclinic-box-shadow">
    <h3 class="widget-title">Detailes de l'operation</h3>
    <p><strong>CIN du contact:</strong> {{ operation.client_id }}</p>
    <p><strong>Nom de l'Operation:</strong> {{ operation.operation }}</p>
    <p><strong>Date de l'Operation:</strong> {{ operation.operation_date }}</p>
    <label><strong>observation:</strong></label>
    <textarea rows="10" cols="50" readonly>{{ operation.observation }}</textarea>
    <p><strong>Fichier Joint:</strong>
        {% if operation.piece_jointe %}
            <a style="color: red;" href="{% url 'employe:generate_pdf' client_id=operation.client_id operation_id=operation.id %}?filename={{ operation.piece_jointe.name }}">PDF</a>
        {% else %}
            Aucun fichier joint
        {% endif %}
    </p>
    <p><strong>Confirmé:</strong> {{ operation.confirmed|yesno:"Oui,Non" }}</p>
</div>
