{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Page Title -->
<div class="container mt-0">
    <div class="row breadcrumb-bar">
        <div class="col-md-6">
            <h3 class="block-title">Recherche d'operations</h3>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'employe:base' %}">
                        <span class="ti-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">Operations</li>
                <li class="breadcrumb-item active">Recherche d'operations</li>
            </ol>
        </div>
    </div>
</div>
<!-- /Page Title -->

<!-- Search Form -->
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <form method="get" action="{% url 'employe:search_operations' %}" class="d-flex">
            <div class="form-group mb-0 mr-2">
                <label for="query" class="sr-only">Recherche par contact CIN:</label>
                <input type="text" name="query" id="query" class="form-control" placeholder="Enter Client ID" value="{{ request.GET.query }}">
            </div>
            <button type="submit" class="btn btn-primary">Recherche</button>
        </form>
        <a href="{% url 'employe:add_operation' %}" class="btn btn-secondary">+ Nouveau operation</a>
    </div>
</div>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Liste d'Operations</h3>
                <div class="table-responsive mb-3">
                    <table id="tableId" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th> CIN du Contact</th>
                                <th>Operation</th>
                                <th>Date d'Operation </th>
                                <th>Observation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for operation in operations %}
                            <tr>
                                <td><a href="{% url 'employe:detailsop' client_id=operation.client_id %}">{{ operation.client_id }}</a></td>                               
                                <td>
                                    <a href="#" data-toggle="modal" data-target="#operationModal" data-operation="{{ operation.id }}">
                                        {{ operation.operation }}
                                    </a>
                                </td>
                                <td>{{ operation.operation_date }}</td>
                                <td>{{ operation.observation }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                        <span class="sr-only">Premier</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Precedent</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="First">
                                        <span aria-hidden="true">&laquo;&laquo;</span>
                                        <span class="sr-only">Premier</span>
                                    </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Precedent</span>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item active"><span class="page-link">Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span></li>
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Suivant</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                        <span class="sr-only">Dernier</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Suivant</span>
                                    </a>
                                </li>
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Last">
                                        <span aria-hidden="true">&raquo;&raquo;</span>
                                        <span class="sr-only">Dernier</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <a href="{% url 'employe:operationlistpdf' %}?query={{ request.GET.query }}" class="btn btn-primary">Telecharger PDF</a>
                </div>
            </div>
        </div>
        <!-- /Widget Item -->
    </div>
</div>
<!-- /Main Content -->

<!-- Modal -->
<div class="modal fade" id="operationModal" tabindex="-1" role="dialog" aria-labelledby="operationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Details will be loaded here via AJAX -->
            </div>
        </div>
    </div>
</div>
<!-- /Modal -->
<script src="{% static 'js/bootstrap.min.js'%}"></script>

<script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
<!-- Popper Library-->
<script src="{% static 'js/popper.min.js'%}"></script>
<!-- Bootstrap Library-->

<script>
    $(document).ready(function(){
        $('#operationModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var operationId = button.data('operation'); // Extract info from data-* attributes
            
            // Use AJAX to get the details of the operation
            $.ajax({
                url: "{% url 'employe:detailoperation' 0 %}".replace('0', operationId),
                success: function(data) {
                    // Populate the modal body with the data
                    $('.modal-body').html(data);
                }
            });
        });
    });
    
</script>

{% endblock %}
