{% extends 'base.html' %}
{% block content %}

<!-- Page Title -->
<div class="container mt-0">
    <div class="row breadcrumb-bar">
        <div class="col-md-6">
            <h3 class="block-title">Recherche d'operations</h3>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'employe:base' %}">
                        <span class="ti-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">Operations</li>
                <li class="breadcrumb-item active">Recherche d'operations</li>
            </ol>
        </div>
    </div>
</div>
<!-- /Page Title -->

<!-- Search Form -->
<div class="container">
    <form method="get" action="{% url 'employe:search_operations' %}">
        <div class="form-group">
            <label for="query">Recherche par CIN:</label>
            <input type="text" name="query" id="query" class="form-control" placeholder="Entrez CIN du client
            " value="{{ request.GET.query }}">
        </div>
        <button type="submit" class="btn btn-primary">Recherche</button>
    </form>
</div>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Liste d'Operations</h3>
                <div class="table-responsive mb-3">
                    <table id="tableId" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th> CIN du Client</th>
                                <th>Operation</th>
                                <th>Date d'Operation </th>
                                <th>Observation</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for operation in operations %}
                            <tr>
                                <td>{{ operation.client_id }}</td>
                                <td>{{ operation.operation }}</td>
                                <td>{{ operation.operation_date }}</td>
                                <td>{{ operation.observation }}</td>
                               
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                  
                    <!-- /Export links -->
                    
                    <a href="{% url 'employe:operationlistpdf' %}?query={{ request.GET.query }}" class="btn btn-primary">Download PDF</a>
                </div>
            </div>
        </div>
        <!-- /Widget Item -->
    </div>
</div>
<!-- /Main Content -->

{% endblock %}
