{% extends 'base.html' %}
{% block content %}
				<!-- Page Title -->
<div class="container mt-0">
    <div class="row breadcrumb-bar">
        <div class="col-md-6">
            <h3 class="block-title">Recherche client</h3>
        </div>
        <div class="col-md-6">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        <span class="ti-home"></span>
                    </a>
                </li>
                <li class="breadcrumb-item">clients</li>
                <li class="breadcrumb-item active">Recherche client</li>
            </ol>
        </div>
    </div>
</div>
<!-- Search Form -->
<div class="container">
    <form method="get" action="{% url 'employe:search_clients' %}">
        <div class="form-group">
            <label for="query">Search by Client ID:</label>
            <input type="text" name="query" id="query" class="form-control" placeholder="Enter Client ID" value="{{ request.GET.query }}">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!-- Main Content -->
<div class="container">

	<div class="row">
		<!-- Widget Item -->
		<div class="col-md-12">
			<div class="widget-area-2 proclinic-box-shadow">
				<h3 class="widget-title">List des clients</h3>							
				<div class="table-responsive mb-3">
					<table id="tableId" class="table table-bordered table-striped">
						<thead>
							<tr>								
								<th>CIN</th>
								<th>Nom</th>
								<th>nombre d'operation</th>								
							</tr>
						</thead>
						<tbody>
							{% if clients %}
								{% for client in clients %}
									<tr>								
										<td><a href="{% url 'employe:detailsop' client_id=client.client_id %}">{{ client.client_id }}</a></td></a>
										<td>{{ client.client_Name }}</td>
										<td>{{ client.operations_count }}</td>										
									</tr>
								{% endfor %}
							{% else %}
								<p>clients non trouves avec de CIN.</p>
							{% endif %}
						</tbody>
					</table>									
				</div>
			</div>
		</div>
		<!-- /Widget Item -->
	</div>
</div>
<!-- /Main Content -->
<!--Copy Rights-->
<div class="container">
	<div class="d-sm-flex justify-content-center">
		<span class="text-muted text-center d-block d-sm-inline-block">Copyright © 2018 <a href="http://www.konnectplugins.com/" target="_blank">konnectcode</a>. All rights reserved.</span>
	</div>
</div>
<!-- /Copy Rights-->
</div>
<!-- /Page Content -->
</div>
<!-- Back to Top -->
<a id="back-to-top" href="#" class="back-to-top">
<span class="ti-angle-up"></span>
</a>
<!-- /Back to Top -->
<!-- Jquery Library-->
<script src="js/jquery-3.2.1.min.js"></script>
<!-- Popper Library-->
<script src="js/popper.min.js"></script>
<!-- Bootstrap Library-->
<script src="js/bootstrap.min.js"></script>

<!-- Datatable  -->
<script src="datatable/jquery.dataTables.min.js"></script>
<script src="datatable/dataTables.bootstrap4.min.js"></script>

<!-- Custom Script-->
<script src="js/custom.js"></script>
<script src="js/custom-datatables.js"></script>
</body>
</html>
{% endblock %}
